body{
    background-color: bisque;
}
.container{
    display: grid;
    height: 600px;
    width: 100%;
    background-color: cadetblue;
    border: 1px solid red ;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-columns: 200px 300px auto auto; */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}
.row1,.row2,.row3,.row4{
    border: 1px solid greenyellow;
}

.row1{
    /* grid-column-start: 5;
    grid-column-end:7; */
    grid-column: 1/13;
    /* grid-row-start: 4;
    grid-row-end: 5; */
    grid-row: 1/2;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.row2{
    grid-column: 1/13;
    grid-row: 2/3;
    background-color:#232f3e ;
    height: 70px;
    display: flex;
    border: 1px solid white;
}
ul li{
    display: inline;
    list-style: none;
    padding: 20px;
}
li:hover{
    background-color: cadetblue;
}